.card{
	
	background-color: white;
	
	width: 250px;
	margin: 250px auto;
	border-radius: 20px;
	padding-top: 40px;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.3);
}
h1{
	 	text-align: center;
	    margin-bottom: 82px;
	 }
.first{
	
	background-color: #80CBC4;
	float: right;
	padding-bottom: 0;
	border-bottom-right-radius:17px; 
    height: 95px;
}
.second{
	float: left;
	background-color: #80CBC4;
	border-bottom-left-radius: 19px;
	height: 95px;
}
.first,.second{
	font-size: 25px;
	width: 125px;
	text-align: center;
	line-height: 95px;
	text-decoration: none;
}