.clearfix:after,.clearfix:before{content: " ";display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom:1;clear: both;}
.banner img{height: 560px;width: 100%;}
.content{background-color: #f4f5fa;}
.con-inner{width: 1055px;margin: 0 auto}
.con-top h3,.con-bottom h3{color: #007bcd;border-bottom: 1px solid #007bcd;margin-top: 57px;}
.list{padding-left: 36px;width: 959px;}
.college{width: 255px;float: left;margin-right: 97px;}
.col-top{width: 255px;margin-top: 50px;margin-right: 97px;padding-bottom: 15px;border-bottom: 1px solid #c9c9c9;float: left;}
.collegelast{margin: 0 0 0 0;float: left;}
.province{float:left;border-radius: 50%;height: 70px;width: 70px;font-size: 50px;color: white;background-color: #007bcd;text-align: center;}
.details a{text-decoration: none; font-size: 16px; color: #007bcd;font-weight: bold;}
.details{width: 170px;float: right;}
.details p{font-size: 14px;margin-top: 11px;}
.college h6{width: 111px;font-size: 12px;padding-top: 12px;clear:both;float: left;}
.like{width: 116px;float: right;padding-top: 12px;}
.like span{color: #a5a5a5;font-size: 12px;}
.people{margin-left: 10px;}
.enroll a{text-decoration: none;color: #1179ca;}
.enroll{padding-top: 36px;text-align: center;}
.more{margin-top: 57px;text-align: center;}
.more a{text-decoration: none;color: #1179ca;border: 1px solid #1179ca;border-radius: 3px;padding: 5px 17px;font-size: 15px;}
.con-center{background-image: url(../images/content_bg.png);width: 100%;margin-top: 40px;padding-bottom: 36px;}
.con-center h3{border-bottom: 1px solid #fff;color: #fff;width: 1056px;padding-top: 31px;margin: 0 auto;}
.con-top h3,.con-center h3,.con-bottom h3{padding-bottom: 10px;font-size: 22px;font-weight: normal;}
.sponsor{width: 1040px;margin: 0 auto;}
.sponsor img{padding-right: 3px;padding-top: 14px;}
.con-bottom{width: 1040px;margin: 0 auto;}
.con-bottom img{margin-right: 11px;margin-top: 15px;}
.enterprise{padding: 10px 0 50px 8px;}