body{font-family: "微软雅黑";}
header{height:76px;border-bottom-style: solid;border-bottom-color: #007bcd;border-bottom-width: 3px;}
.header-inner{width: 1038px;margin: 0 auto;}
.nav li,.nav ul,.logo{float: left;}
.logo{margin-right: 53px;}
.header-inner .nav{line-height: 76px;}
.nav{*margin-top: 30px;}
.nav a{text-decoration: none;color: #000;padding: 30px 14px;}
.nav li{margin-right: 6px}
.header-inner .nav li:hover a{color: #fff;background-color: #007bcd;height: 76px;}
.search{width: 210px;height: 34px;background-color: #f2f2f2;float: left;margin-top: 21px;*margin-top:0px;margin-left: 27px;margin-right: 16px;}
.search input{float: right;border: 1px solid #f2f2f2;}
.search-button{float: left;}
.log{*margin-top: -20px;}
.log li{float: left;line-height: 76px;}
.log a{text-decoration: none;color: #000;padding: 0 10px;}
.login{border-right: 1px solid #000;}
.log a:hover{color: #007bcd;}
body footer{height: 180px;width: 100%;background-color: #1179ca;}
.footer-inner{width: 927px;margin: 0 auto;}
.auto{height: 130px;float: left;padding-right: 70px;margin-top: 34px;}
.auto a{text-decoration: none;color: #fff;}
.auto h4{font-size: 16px;color: #fff;}
.autolast{border-right: 1px solid #fff;padding-right: 131px;}
.follow img{margin: 30px 0 0 90px;}
.follow h4{margin-left: 62px;color: #fff;margin-top: 8px;}
.follow{float: left;}
.phone{width: 170px;float: right;padding-top: 72px;margin-left: 20px;}
.phone h4,.phone img{float: left;}
.phone h4{margin-left: 5px;color: #fff;}
.contact{width: 447px;float: right;}